<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="drivetag.drivetag.com.driveceos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presentation_layer.MainActivity" />

        <activity
            android:name=".presentation_layer.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation_layer.on_boarding.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation_layer.on_boarding.SignInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation_layer.on_boarding.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation_layer.on_boarding.ResetPasswordActivity"
            android:screenOrientation="portrait">

            <intent-filter android:label="@string/filter_title_viewizmosg">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.driveleader.com"
                    android:pathPrefix="/reset_password"
                    android:scheme="http" />
                <data
                    android:host="reset_password"
                    android:scheme="driveleader" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation_layer.user_profile.UserProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation_layer.user_profile.suggestions.SuggestionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c5482cb21c55dd43a8f51044cccb1a139eb0ca9c" />
    </application>

</manifest>
